<!doctype html>
<html lang="en">
    <head>
        <title>Đăng nhập</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../public/css/style.css">
    </head>
    <body style="background-color: #71b6ff">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">DiDongXanh</a>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html">Trang Chủ</a>
                    </li>   
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Điện thoại
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Laptop
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Máy tính bảng
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Phụ kiện
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tìm kiếm</a>
                    </li>    
                </ul>
            </div>
            <div class="container-nav-right">
                <a class="navbar-brand" href="#">Bag</a>
                <a class="navbar-brand" href="../E-Commerce/site/view/login.html">Login</a>
            </div>            
        </nav>
        <div class="container container-login">
            <div class="row">
                <div class="col-md-5">
                    <div class="container-form-login">
                        <div class="container-login-head">
                            <h3>Đăng nhập</h3>
                            <p>Nhập tên người dùng và mật khẩu để đăng nhập</p>
                        </div>
                        <div class="container-login-main form-group">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" id="username" placeholder="Tên đăng nhập">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Mật khẩu">
                                </div>
                                <input type="submit" class="btn btn-primary form-control" value="Đăng nhập">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 middle-border"></div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="container-form-login">
                        <div class="container-login-head">
                            <h3>Đăng ký</h3>
                            <p>Điền vào mẫu dưới đây để đăng ký tài khoản</p>
                        </div>
                        <div class="container-login-main form-group">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" id="username" placeholder="Tên đăng nhập">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Mật khẩu">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Nhập lại mật khẩu">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Nhập Email">
                                </div>
                                <input type="submit" class="btn btn-primary form-control" value="Đăng ký">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    </body>
</html>