<!doctype html>
<html lang="en">
    <head>
        <title>Sản phẩm</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../../public/css/style.css">
    </head>
    <body style="background-color: #f1f1f1">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">DiDongXanh</a>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../E-Commerce/index.html">Trang Chủ</a>
                    </li>   
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Điện thoại
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Laptop
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Máy tính bảng
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Phụ kiện
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tìm kiếm</a>
                    </li>    
                </ul>
            </div>
            <div class="container-nav-right">
                <a class="navbar-brand" href="#">Bar</a>
                <a class="navbar-brand" href="../E-Commerce/site/view/login.html">Login</a>
            </div>            
        </nav>
        <div class="container">
            <div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Điện thoại</a></li>
                    <li class="breadcrumb-item"><a href="#">Xiaomi</a></li>
                    <li class="breadcrumb-item active">Mi 8 SE</li>
                </ul>
            </div>
            <div class="container-product-detail">
                <div class="row" style="border-bottom: 1px solid #ccc; padding-bottom: 15px;">
                    <div class="col-md-5">
                        <div class="img-fluid">
                            <a href="#"><img id="imgCover" src="http://via.placeholder.com/420x560" width="100%" height="auto"></a>
                        </div>
                        <div class="container-swap-img">
                            <div class="swap-img"><a href="#"><img src="http://via.placeholder.com/70x50" width="100%" height="auto"></a></div>
                            <div class="swap-img"><a href="#"><img src="http://via.placeholder.com/70x50" width="100%" height="auto"></a></div>
                            <div class="swap-img"><a href="#"><img src="http://via.placeholder.com/70x50" width="100%" height="auto"></a></div>
                            <div class="swap-img"><a href="#"><img src="http://via.placeholder.com/70x50" width="100%" height="auto"></a></div>
                            <div class="swap-img"><a href="#"><img src="http://via.placeholder.com/70x50" width="100%" height="auto"></a></div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <form>
                            <div class="container-product-name">
                                <input type="text" id="idProduct" style="display: none" name="idProduct" value="X001" disabled="disabled">
                                <h3 id="nameProduct">Tên sản phẩm</h3>
                            </div>
                            <div class="container-product-price">
                                <input type="text" id="priceProduct" style="display: none" name="priceProduct" value="4300000" disabled="disabled">
                                <h3 class="priceProduct">4.300.000</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <select id="colorProduct" class="custom-select">
                                            <option selected>Chọn màu</option>
                                            <option value="Trắng">Trắng</option>
                                            <option value="Đen">Đen</option>
                                            <option value="Đỏ">Đỏ</option>
                                            <option value="Xanh">Xanh</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <select class="custom-select" id="guarantee">
                                            <option selected>Chọn chế độ bảo hành</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="container-product-promotion">
                                        <div class="product-promotion-head">
                                            Khuyến mãi và Ưu đãi
                                        </div>
                                        <div class="product-promotion-main">
                                            <p>đấodjaodjoasdo</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="container-product-guarantee">
                                        <div class="product-guarantee-head">
                                            Chế độ bảo hành
                                        </div>
                                        <div class="product-guarantee-main">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="button" id="submitBar" class="btn btn-danger" value="Thêm vào giỏ hàng">
                        </form>
                    </div>
                </div>
                <div class="row" style="padding-top: 15px">
                    <div class="col-md-8">
                        <div class="tabs-product">
                            <ul class="nav justify-content-center">
                                <li class="nav-item characteristics tab-active">Đặc điểm nổi bật</li>
                                <li class="nav-item ratingAndReviews">Đánh giá & Nhận xét</li>
                            </ul>
                        </div>
                        <div id="characteristics" class="pt-4 pb-2">
                            <h4>Đặc điểm nổi bật</h4>
                            <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam risus magna, aliquam vel sapien at, ultrices gravida nulla. Etiam mollis eros sit amet massa semper, sagittis interdum tortor fringilla. Maecenas imperdiet porttitor mauris, quis auctor mi placerat a. Duis mauris urna, bibendum at nunc a, facilisis fringilla magna. Etiam blandit velit velit, nec euismod nulla aliquet at. Aliquam vel dui vitae erat gravida ornare quis sit amet mauris. Cras consequat pharetra tellus eget vulputate. Suspendisse mauris erat, porttitor sed nunc sed, elementum ultricies sapien. Quisque turpis diam, venenatis quis venenatis nec, laoreet in nisi. Proin blandit ex at pellentesque convallis. Nulla quis vulputate nisl, nec dictum mauris. Aenean cursus enim ipsum, eu laoreet velit pulvinar quis. Fusce varius augue in velit convallis, quis ullamcorper nunc pretium. Phasellus nec sodales ante, id vehicula neque. 
                                Etiam augue dui, ullamcorper quis ante ac, sodales pharetra felis. Donec a commodo massa. Donec eu felis et eros scelerisque sagittis. Nulla hendrerit odio in ipsum egestas elementum. Sed mattis ligula ante, sed ultrices risus eleifend non. Morbi tempus nunc eu massa volutpat, ut ultrices nisi efficitur. Praesent sodales mauris lorem. Duis pellentesque ullamcorper magna sit amet dignissim. Sed vulputate molestie felis, sit amet volutpat odio dignissim eu. Etiam diam urna, consectetur et pulvinar in, tristique in elit. Nullam ante dui, pharetra vel lacus pulvinar, commodo egestas purus. Etiam eget facilisis enim. Cras cursus purus quis massa luctus volutpat. Fusce efficitur consequat nulla imperdiet lobortis. 
                                Nam porttitor aliquam ex sit amet ultrices. Aliquam posuere elementum lobortis. Donec congue fermentum sagittis. Pellentesque eleifend felis a ante pharetra ornare. Aliquam finibus, nunc dapibus eleifend ultricies, purus justo placerat velit, sed tempor ligula nunc in nunc. Nulla mollis urna justo, eget ultrices augue luctus sit amet. Maecenas tincidunt dignissim velit, id egestas tortor pretium quis. Aenean at efficitur odio. Duis luctus mi quis neque tempor iaculis. Sed a est lacus. Suspendisse erat enim, tincidunt et tincidunt vel, malesuada vitae ante. Sed vel hendrerit nunc. Vestibulum volutpat volutpat odio vitae bibendum. Donec faucibus rhoncus metus eu fermentum. Aliquam semper turpis lacus, in fringilla augue tristique vitae. Curabitur id condimentum odio, sit amet luctus eros. 
                                Aenean non dapibus erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus consectetur ante ac sollicitudin volutpat. Morbi sed gravida lorem, et ultricies orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ornare placerat est ac rhoncus. Maecenas iaculis augue elit, non lacinia nisl rhoncus at. Vestibulum a risus ullamcorper tortor sodales fringilla id ac leo. Cras metus mauris, efficitur ac mauris sed, convallis dictum urna. Integer vel mi vitae urna fermentum tristique sed ut enim. Praesent venenatis hendrerit ex, quis ullamcorper ipsum euismod non. Cras eleifend laoreet ligula a efficitur. Cras in ipsum in tellus viverra facilisis. Quisque non imperdiet magna. Nunc eget semper leo. Maecenas lorem leo, laoreet in orci eget, dictum blandit metus. 
                                Suspendisse efficitur augue massa, sit amet lobortis massa suscipit quis. Nam lobortis sodales nulla in feugiat. Nullam vel auctor felis, in dictum neque. Integer eget tincidunt mi. In ipsum sapien, ultrices eu magna at, condimentum vehicula risus. Mauris pulvinar sit amet nulla vestibulum placerat. Integer ut blandit elit. 
                                Pellentesque eget odio risus. Etiam quis mi a dui vehicula venenatis. Duis at nisl vitae quam vestibulum sodales vitae vitae risus. Morbi urna diam, viverra luctus porttitor et, cursus nec augue. Sed molestie blandit ultrices. Aliquam sodales pulvinar metus, id commodo nisl interdum sed. Duis tempus purus sed erat eleifend posuere. Nam rutrum mollis magna id condimentum. Aliquam erat volutpat. Donec molestie lectus id porttitor dictum. 
                                Vestibulum suscipit, dolor id bibendum vulputate, lacus nunc dapibus nibh, pharetra faucibus neque justo sit amet odio. Sed orci enim, ultrices tempor neque quis, euismod aliquet diam. Phasellus efficitur, nisi eu tempor interdum, ligula ipsum laoreet est, non cursus urna felis eget metus. Ut luctus mauris vitae ipsum finibus iaculis. Sed dignissim semper tempor. Fusce vel fringilla orci. Sed volutpat auctor hendrerit. Vivamus imperdiet posuere tellus, non finibus ante luctus vitae. Integer libero libero, hendrerit ut urna nec, dapibus suscipit magna. Vivamus tincidunt ex non nulla hendrerit, at maximus nulla mattis. Nulla et purus a sapien dignissim varius nec vel enim. Proin ac laoreet lacus, a varius ipsum. Praesent accumsan nibh vitae eros faucibus condimentum. Praesent accumsan commodo mattis. 
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum turpis lectus, volutpat ut leo in, molestie ultrices metus. Sed consectetur porttitor cursus. Praesent ultricies odio id porttitor feugiat. Pellentesque id quam euismod, tincidunt sem et, bibendum lectus. Morbi porta nulla iaculis suscipit commodo. Proin vestibulum ut dui condimentum condimentum. Aliquam justo nibh, lacinia et metus et, pulvinar tincidunt ligula. Etiam pellentesque ex ultrices augue aliquam, et semper ipsum accumsan. Quisque id lorem eu sapien molestie pellentesque. Etiam vel nisi nec mi malesuada iaculis eget et ante. Duis ultricies felis vitae justo dictum interdum. Donec et pulvinar nunc, vitae mattis turpis. Nulla facilisi. </p>
                        </div>
                        <div id="ratingAndReviews" class="pt-4 pb-2" style="display: none">
                            <div class="container-ratingAndReviews border">
                                <h4>Viết nhận xét</h4>
                                <form>
                                    <div class="form-group">
                                        <label for="name">Tên</label>
                                        <input class="form-control" type="text" name="" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="title">Tiêu đề</label>
                                        <input class="form-control" type="text" name="" id="title">
                                    </div>
                                    <div class="form-group">
                                        <label for="review">Nhận xét</label>
                                        <textarea class="form-control" rows="3" id="review"></textarea>
                                    </div>
                                    <input type="button" class="btn btn-secondary" value="Gửi">
                                </form>
                            </div>
                            <div class="border">
                                <div class="media p-3">
                                    <i class="material-icons mr-3 mt-3 rounded-circle" style="font-size:60px">person</i>
                                    <div class="media-body">
                                        <h4>John Doe <small><i>Posted on February 19, 2016</i></small></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <div class="media p-3">
                                            <i class="material-icons mr-3 mt-3 rounded-circle" style="font-size:60px">person</i>
                                            <div class="media-body">
                                                <h4>Jane Doe <small><i>Posted on February 20 2016</i></small></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                                <div class="media p-3">
                                    <i class="material-icons mr-3 mt-3 rounded-circle" style="font-size:60px">person</i>
                                    <div class="media-body">
                                        <h4>John Doe <small><i>Posted on February 19, 2016</i></small></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="media p-3">
                                    <i class="material-icons mr-3 mt-3 rounded-circle" style="font-size:60px">person</i>
                                    <div class="media-body">
                                        <h4>John Doe <small><i>Posted on February 19, 2016</i></small></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sticky-top">
                            <p style="padding: 3px; font-size: 20px">Thông số kĩ thuật</p>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Màn hình:</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Hệ điều hành:</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Camera sau:</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Camera trước:</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>CPU:</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>RAM:</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Bộ nhớ trong:</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Thẻ nhớ:</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Thẻ SIM:</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Dung lượng pin:</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#submitBar").click(function(e){
                    e.preventDefault();

                    var idProduct = $("#idProduct").val();
                    console.log(idProduct);
                    var nameProduct = $("#nameProduct").text();
                    console.log(nameProduct);
                    var priceProduct = parseInt($("#priceProduct").val());
                    console.log(priceProduct);
                    var colorProduct = $("#colorProduct").val();
                    console.log(colorProduct);
                    

                });
                $(".characteristics").click(function(){
                    $(".ratingAndReviews").removeClass("tab-active");
                    $(".characteristics").addClass("tab-active");
                    $("#ratingAndReviews").hide();
                    $("#characteristics").show(300);
                });
                $(".ratingAndReviews").click(function(){
                    $(".characteristics").removeClass("tab-active");
                    $(".ratingAndReviews").addClass("tab-active");
                    $("#characteristics").hide();
                    $("#ratingAndReviews").show(300);
                });
            });
        </script>
    </body>
</html>