<!doctype html>
<html lang="en">
    <head>
        <title>Sản phẩm</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../../public/css/style.css">
    </head>
    <body style="background-color: #f1f1f1">
        <div id="included-navbar"></div>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">DiDongXanh</a>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html"><i class="material-icons" style="font-size:13px; padding-right: 5px">home</i>Trang Chủ</a>
                    </li>   
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            <i class="material-icons" style="font-size:13px; padding-right: 5px">smartphone</i>Sản phẩm
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline" action="/action_page.php">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Tìm kiếm">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button"><i class="material-icons" style="font-size:13px">search</i></button>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="container-nav-right">
                <a class="navbar-brand" href="../../site/view/checkout_cart.html"><i class="fa fa-shopping-bag pr-4" style="font-size:24px; border-right: 1px solid white"></i></a>
                <a class="navbar-brand" href="../../site/view/login.html"><img src="https://png.icons8.com/ios/40/ffffff/user-male-circle-filled.png" height="30x" width="30px"><small style="padding-left: 10px; color: #ccc;">Đăng nhập</small></a>
            </div>            
        </nav>
        <div class="container">
            <div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Điện thoại</a></li>
                    <li class="breadcrumb-item"><a href="#">Xiaomi</a></li>
                    <li class="breadcrumb-item active">Mi 8 SE</li>
                </ul>
            </div>
            <div class="container-product-detail">
                <div class="row" style="border-bottom: 1px solid #ccc; padding-bottom: 15px;">
                    <div class="col-md-5">
                        <div class="img-fluid border" id="imgCover" >
                            
                        </div>
                        <div class="container-swap-img" id="urlImg">

                        </div>
                    </div>
                    <div class="col-md-7">
                        <form>
                            <div class="container-product-name">
                                <input type="text" id="idProduct" style="display: none" name="idProduct" value="" disabled="disabled">
                                <h3 id="nameProduct"></h3>
                            </div>
                            <div class="container-product-price">
                                <input type="text" id="priceProduct" style="display: none" name="priceProduct" value="" disabled="disabled">
                                <h3 class="priceProduct"></h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <select id="colorProduct" class="custom-select">
                                            <option value="0" disabled="disabled" selected>Chọn màu</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <select class="custom-select" id="guarantee">
                                            <option selected>Chọn chế độ bảo hành</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="container-product-promotion">
                                        <div class="product-promotion-head">Khuyến mãi và Ưu đãi</div>
                                        <div class="product-promotion-main">
                                            <p>đấodjaodjoasdo</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="container-product-guarantee">
                                        <div class="product-guarantee-head">Chế độ bảo hành</div>
                                        <div class="product-guarantee-main">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="button" id="submitBag" class="btn btn-danger" value="Thêm vào giỏ hàng">
                        </form>
                    </div>
                </div>
                <div class="row" style="padding-top: 15px">
                    <div class="col-md-8">
                        <div class="tabs-product">
                            <ul class="nav justify-content-center">
                                <li class="nav-item characteristics tab-active">Đặc điểm nổi bật</li>
                                <li class="nav-item ratingAndReviews">Đánh giá & Nhận xét</li>
                            </ul>
                        </div>
                        <div id="characteristics" class="pt-4 pb-2">
                            <div id="displayPosts">

                            </div>
                        </div>
                        <div id="ratingAndReviews" class="pt-4 pb-2" style="display: none">
                            <div class="container-ratingAndReviews border">
                                <h4>Viết nhận xét</h4>
                                <form>
                                    <div class="form-group">
                                        <label for="nameCmt" id="nameCmtLabel">Tên</label>&nbsp;<span style="color: red">*</span>
                                        <input class="form-control" type="text" name="nameCmt" id="nameCmt">
                                    </div>
                                    <div class="form-group">
                                        <label for="comment" id="commentLabel">Nhận xét</label>&nbsp;<span style="color: red">*</span>
                                        <textarea class="form-control" rows="3" id="comment"></textarea>
                                    </div>
                                    <div>
                                    </div>
                                    <input type="button" id="submitCmt" class="btn btn-secondary" value="Gửi">
                                </form>
                            </div>
                            <div class="border" id="displayComments">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sticky-top">
                            <p style="padding: 3px; font-size: 20px">Thông số kĩ thuật</p>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Màn hình:</td>
                                        <td id="displayScreen"></td>
                                    </tr>
                                    <tr>
                                        <td>Hệ điều hành:</td>
                                        <td id="displayOS"></td>
                                    </tr>
                                    <tr>
                                        <td>Camera sau:</td>
                                        <td id="displayEndCamera"></td>
                                    </tr>
                                    <tr>
                                        <td>Camera trước:</td>
                                        <td id="displayFrontCamera"></td>
                                    </tr>
                                    <tr>
                                        <td>CPU:</td>
                                        <td id="displayCPU"></td>
                                    </tr>
                                    <tr>
                                        <td>RAM:</td>
                                        <td id="displayRAM"></td>
                                    </tr>
                                    <tr>
                                        <td>Bộ nhớ trong:</td>
                                        <td id="displayROM"></td>
                                    </tr>
                                    <tr>
                                        <td>Thẻ nhớ:</td>
                                        <td id="displayMemoryCard"></td>
                                    </tr>
                                    <tr>
                                        <td>Thẻ SIM:</td>
                                        <td id="displaySim"></td>
                                    </tr>
                                    <tr>
                                        <td>Dung lượng pin:</td>
                                        <td id="displayBattery"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="../../public/js/simple.money.format.js"></script>
        <script>
            $(document).ready(function(){
                function getQueryVariable(variable)
                {
                    var query = window.location.search.substring(1);
                    var vars = query.split('?');
                    for (var i=0;i<vars.length;i++) {
                            var pair = vars[i].split('=');
                            if(pair[0] == variable){return pair[1];}
                    }
                    return(false);
                }
                var idValue = getQueryVariable('id');

                $.getJSON('http://localhost:3000/product/'+idValue, function(data){
                    var dataId = data.id;
                    var dataName = data.name;
                    var dataPrice = data.price;
                    var dataImgCover = data.imgCover;
                    var dataUrlImg = data.urlImg;

                    var dataScreen = data.specifications.screen;
                    var dataOS = data.specifications.os;
                    var dataEndCamera = data.specifications.endCamera;
                    var dataFrontCamera = data.specifications.frontCamera;
                    var dataCPU = data.specifications.cpu;
                    var dataRAM = data.specifications.ram;
                    var dataROM = data.specifications.rom;
                    var dataMemoryCard = data.specifications.memoryCard;
                    var dataSim = data.specifications.sim;
                    var dataBattery = data.specifications.battery;

                    var dataPosts = data.posts;

                    var dataOptions = data.options;
                    
                    $("#idProduct").val(dataId);
                    $("#nameProduct").text(dataName);
                    $("#priceProduct").val(dataPrice);
                    $(".priceProduct").text(dataPrice).simpleMoneyFormat();
                    $.each($(dataOptions), function(i, options){
                        $("#colorProduct").append(
                            '<option value="'+options.color+'">'+options.color+'</option>'
                        );
                    });
                    $("#imgCover").append(
                        '<div style="background: url('+dataImgCover+') no-repeat; padding-top: 133.33%; width: 100%; background-position: 50% 50%; background-size: cover;"><a href="#"></a></div>'
                    );
                    $.each($(dataUrlImg), function(i, urlImg){
                        $("#urlImg").append(
                            '<div style="background: url('+urlImg.img+') no-repeat; padding-top: 18%; width: 100%; background-position: 50% 50%; background-size: cover;"><a href="#"></a></div>'
                        );
                    });
                    $("#displayScreen").text(dataScreen);
                    $("#displayOS").text(dataOS);
                    $("#displayEndCamera").text(dataEndCamera);
                    $("#displayFrontCamera").text(dataFrontCamera);
                    $("#displayCPU").text(dataCPU);
                    $("#displayRAM").text(dataRAM);
                    $("#displayROM").text(dataROM);
                    $("#displayMemoryCard").text(dataMemoryCard);
                    $("#displaySim").text(dataSim);
                    $("#displayBattery").text(dataBattery);
                    $("#displayPosts").text(dataPosts);

                    $.getJSON('http://localhost:3000/comments', function(dataComments){
                        $.each($(dataComments), function(i, comments){
                            if(comments.idProduct == idValue){
                                $("#displayComments").append(
                                    '<div class="media pt-2 pl-4 pr-4">'+
                                        '<img src="https://png.icons8.com/ios/40/000000/user-male-circle-filled.png" class="material-icons mr-3 mt-1 rounded-circle" height="48x" width="48px">'+
                                        '<div class="media-body">'+
                                            '<h5>'+comments.name+'&nbsp;&nbsp;&nbsp;<small><i>Đăng ngày '+comments.time+'</i></small></h5>'+
                                            '<p>'+comments.cmt+'</p>'+
                                        '</div>'+
                                    '</div>'
                                );
                            }
                        });
                    });
                    $("#submitBag").click(function(){
                        var colorProduct = $("#colorProduct").val();
                        if(colorProduct == 0){
                            alert('Bạn chưa chọn màu của sản phẩm!');
                            $("#colorProduct").css('border','1px solid red');
                        }else{
                            $.ajax({
                                type: 'POST',
                                url: 'http://localhost:3000/bag',
                                data: {
                                    id : dataId+colorProduct,
                                    name : dataName,
                                    price : dataPrice,
                                    color : colorProduct,
                                    imgCover : dataImgCover
                                },
                                success: function(data) { 
                                    alert('Đã thêm vào giỏ!'); 
                                },
                                dataType: 'json'
                            });
                        }
                    });    
                });

                $("#submitCmt").click(function(){
                    var nameCmt = $("#nameCmt").val();
                    var comment = $("#comment").val();
                    var now = new Date(Date.now());
                    var formatTime = now.getDay() +'/'+ now.getMonth() + '/' + now.getFullYear() + '  ' + now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();
                    console.log(formatTime);
                    var isValid = true;
                    var namePattern = /[A-Za-z]{2}/;

                    if(nameCmt == ''){
                        $("#nameCmtLabel").next().html("&nbsp;&nbsp;<small>Tên không được để trống</small>");
                        isValid = false;
                    }else if(!namePattern.test(nameCmt)){
                        $("#nameCmtLabel").next().text("Tên phải lớn hơn 2 kí tự và là chữ cái!");
                        isValid = false;
                    }else{
                        $("#nameCmtLabel").next().text("*");
                    }

                    if(comment == ''){
                        $("#commentLabel").next().html("&nbsp;&nbsp;<small>Nhận xét không được để trống</small>");
                        isValid = false;
                    }else{
                        $("#commentLabel").next().text("*");
                    }

                    if(isValid == true){
                        $.ajax({
                            type: 'POST',
                            url: 'http://localhost:3000/comments',
                            data: {
                                idProduct: idValue,
                                name: nameCmt,
                                time: formatTime,
                                cmt: comment
                            },
                            success: function(data) { 
                                alert('Đã thêm!'); 
                            },
                            dataType: 'json'
                        });
                    }                        
                });

                $(".characteristics").click(function(){
                    $(".ratingAndReviews").removeClass("tab-active");
                    $(".characteristics").addClass("tab-active");
                    $("#ratingAndReviews").hide();
                    $("#characteristics").show(300);
                });
                $(".ratingAndReviews").click(function(){
                    $(".characteristics").removeClass("tab-active");
                    $(".ratingAndReviews").addClass("tab-active");
                    $("#characteristics").hide();
                    $("#ratingAndReviews").show(300);
                });
            });
        </script>
    </body>
</html>