<!doctype html>
<html lang="en">
    <head>
        <title>Sản phẩm</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../../public/css/style.css">
    </head>
    <body style="background-color: #f0f3f4">
        <div class="ui-widget">
            <label for="city">Your city: </label>
            <input id="city">
          </div>
          
          <div class="ui-widget" style="margin-top:2em; font-family:Arial">
            Result:
            <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
          </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="../../public/js/jquery.autocomplete.js"></script>
        <script src="../../public/js/simple.money.format.js"></script>
        <script>
            $(document).ready(function(){
                $('#city').autocomplete({
                    lookup: function (query, done) {
                        $.ajax({
                            url: "http://localhost:3000/posts",
                            dataType: "json",
                            data: {
                                searchText: request.term
                            },
                            success: function (data) {
                                response($.map(data.posts, function (item) {
                                    return {
                                        value: item.name
                                    };
                                }));
                            }
                        });
                        var result = {
                            suggestions: [
                                { "value": "United Arab Emirates", "data": "AE" },
                                { "value": "United Kingdom",       "data": "UK" },
                                { "value": "United States",        "data": "US" }
                            ]
                        };

                        done(result);
                    },
                    onSelect: function (suggestion) {
                        alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
                    }
                });
            });

        </script>
    </body>
</html>